<div ngbDropdown display="dynamic">
  <button
    type="button"
    class="btn btn-dark"
    id="dropdownBasic1"
    ngbDropdownToggle
  >
    <span class="flag">{{ getSelectedLanguage().flag }}</span>
  </button>
  <div ngbDropdownMenu class="dropdown-menu-dark" aria-labelledby="dropdownBasic1">
    <button
      *ngFor="let lang of availableLanguages"
      ngbDropdownItem
      class="d-flex align-items-center"
      [class.active]="isLanguageSelected(lang)"
      (click)="selectLanguage(lang)"
    >
      <span class="flag me-2">{{ lang.flag }}</span>
      <span class="name">{{ lang.name }}</span>
    </button>
  </div>
</div>
