<div class="card mt-4">
  <h1 translate="home.card.title"></h1>
  <p>
    <a href="https://github.com/souyahia/angular-template" translate="home.card.github"></a>
  </p>
  <p translate="home.card.keyFeatures"></p>
  <ul>
    <li translate="home.card.internationalization"></li>
    <li translate="home.card.bootstrap"></li>
    <li>
      <span class="code">/src/content</span>
      <span> : </span>
      <span translate="home.card.content"></span>
    </li>
    <li>
      <span class="code">/src/i18n</span>
      <span> : </span>
      <span translate="home.card.i18n"></span>
    </li>
    <li>
      <span class="code">/src/app/shared</span>
      <span> : </span>
      <span translate="home.card.shared"></span>
    </li>
    <li>
      <span class="code">/src/app/core</span>
      <span> : </span>
      <span translate="home.card.core"></span>
    </li>
  </ul>
</div>
