@import 'variables';

.code {
  padding: 0.3rem;
  border-radius: 0.3rem;
  color: $gray-100;
  background-color: $gray-700;
  font-family: $app-font-family-mono;
  font-size: $font-size-small;
}

li {
  padding: 0.3rem 0;
}
